MONGO_URI=
MONGO_DB=theghostweb
EMAIL_FROM=noreply@nroghost.com
EMAIL_FROM_NAME=TheGhost Coder
EMAIL_REPLY_TO=
RESEND_API_KEY=
EMAIL_USER=
EMAIL_PASS=
ADMIN_PASSWORD=
ADMIN_SECRET_KEY=
SEPAY_WEBHOOK_SECRET=
